<div class="wrapper-div popup-container">
  <form id="confirmLineSequence" class="form-div">
    <div class="wj-dialog-header header-div">
      <div class="flex justify-between items-center">
        <span class="popup-header"> Edit Seq # </span>
        <!-- <button type="button" (click)="hidePopup()" tabindex="-1" class="close wj-hide btn-popup-close">&times;</button> -->
      </div>
    </div>
    <div class="wj-dialog-body body-div PopupHeader">
      <div class="flex flex-col">
        <p>Please confirm if you want to sequence these selected customers.</p>
      </div>
      <!-- <div class="flex flex-col" *ngIf="selectedRows.length > 0">
        <p>Would you like to update the Route # for all the selected points to <b>{{editAllMapPoint['rNo']}}</b>? </p>
      </div>
      <div class="flex flex-col" *ngIf="selectedRows.length == 0">
        <p>Please select points on the map to update Route #</p>
      </div> -->
    </div>
    <div class="wj-dialog-footer">
      <!-- <button class="btn btn-red-link" (click)="hidePopup('no')">{{ popupBtn.Cancel }}</button>
      <button class="btn btn-red-link" (click)="hidePopup('continue')">
        {{ popupBtn.Continue }}
      </button>
      <button class="btn btn-primary" (click)="submitForm(); hidePopup('yes')">
        {{ popupBtn.OK }}
      </button> -->
    </div>
  </form>
</div>