<!-- Statistics Popup -->
<app-statistics *ngIf="statisticsData" [data]="statisticsData" (close)="closePopup()">
</app-statistics>

<!-- Geocode Popup -->
<app-geocode *ngIf="geocodeData" [data]="geocodeData" (close)="closePopup()">
</app-geocode>

<!-- Edit All Popup -->
<app-edit-all *ngIf="editAllVisible" [visible]="true" (close)="closePopup()">
</app-edit-all>

<!-- Confirm Line Sequence Popup -->
<app-confirm-line-sequence *ngIf="confirmLineSequenceBool" [confirmLineSequenceBool]="confirmLineSequenceBool">
</app-confirm-line-sequence>