<ng-container *ngIf="popupState && popupState.isOpen">
  <!-- Statistics Popup -->
  <app-statistics
    *ngIf="popupState.type === 'statistics'"
    [data]="popupState.data"
    (close)="closePopup()"
  ></app-statistics>

  <!-- Geocode Popup -->
  <app-geocode
    *ngIf="popupState.type === 'geocode'"
    [data]="popupState.data"
    (close)="closePopup()"
  ></app-geocode>

  <!-- Edit All Popup -->
  <app-edit-all
    *ngIf="$any(popupState.type) === 'EditAll'"
    [visible]="true"
    (close)="closePopup()"
  ></app-edit-all>
</ng-container>
