<div>
  <h2>{{appName}}</h2>
  <div>
    <label>Operation Unit:</label>
    <select [(ngModel)]="selectedOperationUnit" (ngModelChange)="onOperationUnitChange($event)">
      <option *ngFor="let op of operationUnits" [value]="op">{{op}}</option>
    </select>
  </div>
  <div>
    <label>Route Type:</label>
    <select [(ngModel)]="selectedRouteType" (ngModelChange)="onRouteTypeChange($event)">
      <option *ngFor="let rt of routeTypes" [value]="rt">{{rt}}</option>
    </select>
  </div>
  <div>
    <label>Day of Week:</label>
    <select [(ngModel)]="selectedDayOfWeek" (ngModelChange)="onDayOfWeekChange($event)">
      <option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</option>
    </select>
  </div>
  <ul class="tabs">
    <li *ngFor="let tab of tabs"
        [class.selected]="tab === selectedTab"
        (click)="onTabChange(tab)">
      {{tab}}
    </li>
  </ul>
  <div *ngIf="selectedTab === 'Route'">
    <label>Routes for {{selectedDayOfWeek}}:</label>
    <ul>
      <li *ngFor="let route of routesByDay[selectedDayOfWeek]">
        <input type="checkbox" [checked]="selectedRoutes.includes(route)" (change)="onRouteToggle(route, $event)" /> {{route}}
      </li>
    </ul>
    <button (click)="loadData()">Load Data</button>
  </div>
</div>